@import "tailwindcss";

@theme {
  /* Hamara Premium Color Palette */
  --color-background: #FAFAFA;
  --color-surface: #FFFFFF;
  --color-textMain: #111111;
  --color-textMuted: #6B7280;
  --color-magicAccent: #4F46E5;
  --color-studioDark: #0A0A0A;
}

/* Base styling jo har page par apply hogi */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-textMain);
    font-family: var(--font-sans), sans-serif;
  }
}